
<nav class ="deep-orange">
    <div class="nav-wrapper">
      <a class="brand-logo right">Gép kölcsönző</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/read" >Gépek listázása</a></li>
        <li><a routerLink="/create" >Gép hozzáadása</a></li>
        <li><a routerLink="/readPartner" >Ügyfelek listázása</a></li>
        <li><a routerLink="/createPartner" >Ügyfél hozzáadása</a></li>
        <li><a routerLink="/loan" >Kölcsönzés</a></li>
        <li><a routerLink="/return" >Visszahozás</a></li>
      </ul>
    </div>
  </nav>