<app-navbar></app-navbar>
<div class="center container">
    <h5 *ngIf="!getParamID">Új ügyfél felvétele</h5>
    <h5 *ngIf="getParamID">Ügyfél módosítása</h5>
    <h5 class="red-text">{{errormsg}}</h5>
    <h5 class="green-text">{{successmsg}}</h5>
    <form class="white row" [formGroup]="partnerForm">
        <div class="col s6">
           <input type="text" class="form-control" formControlName="name" placeholder="Ügyfél neve">
        </div>
        <div class="col s3">
           <input type="number" class="form-control" formControlName="zipCode" placeholder="Irányítószám">
        </div>
        <div class="col s3">
           <input type="text" class="form-control" formControlName="city" placeholder="Város">
        </div>
        <div class="col s12">
           <input type="text" class="form-control" formControlName="address" placeholder="Cím">
        </div>
   
        <div class="center" *ngIf="!getParamID" (click)="partnerSubmit()">
            <button class="btn deep-orange">Létrehoz</button>
        </div>
        <div class="center" *ngIf="getParamID" (click)="partnerUpdate()">
         <button class="btn deep-orange">Módosít</button>
     </div>
    </form>
</div>
