<app-navbar></app-navbar>

<form class="container " [formGroup]="searchByNameForm">
  <div class="col s6">
    <input type="text" class="form-control" formControlName="searchbyName" placeholder="Keresés név szerint">
 </div>
 <div class="center" (click)="searchByName()">
  <button class="btn deep-orange">Keresés</button>
</div>
</form>

<form class="container " [formGroup]="searchByIdForm">
  <div class="col s6">
    <input type="text" class="form-control" formControlName="searchbyId" placeholder="Keresés azonosító szerint">
 </div>
 <div class="center" (click)="searchById()">
  <button class="btn deep-orange">Keresés</button>
</div>
</form>

<h4 class="center green-text" *ngIf="successmsg">{{successmsg}}</h4>


<table class="container highlight centered">
    <thead>
      <tr>
          <th style="width:10%">#</th>
          <th style="width:20%">Gép neve</th>
          <th style="width:20%">Beszerzés</th>
          <th style="width:20%">Gyártó</th>
          <th style="width:20%">Állapot</th>
          <th style="width:20%">sorozatszám</th>
          <th style="width:20%">Bérlő</th>
          <th style="width:20%">Módosítások</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let machine of readedData">
        <td>{{machine.id}}</td>
        <td>{{machine.machineName}}</td>
        <td>{{machine.acquisition}}</td>
        <td>{{machine.manufacturer}}</td>
        <td>{{machine.state}}</td>
        <td>{{machine.chassisNumber}}</td>
        <td>{{machine.partner_Id}}</td>
        <td>
            <button class="btn red" (click)="deleteID(machine.id)">Törlés</button>
            &nbsp;
            <a [routerLink]="['/createMachine',machine.id]" class="btn blue">Módosít</a>
        </td>
      </tr>
    </tbody>
  </table>
